name: Construir APK Android

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar Código
      uses: actions/checkout@v4

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instalar Dependências
      run: |
        pip install flet
        pip install pandas

    - name: Configurar Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Configurar Android SDK
      uses: android-actions/setup-android@v3

    # AQUI ESTÁ A SOLUÇÃO:
    # Usamos o canal 'stable'. Isso instala a versão mais recente e estável do Flutter.
    # O Flet vai reconhecer que o Flutter já existe e pulará a etapa de pergunta [y/n].
    - name: Instalar Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        architecture: x64

    - name: Construir APK
      # Comando padrão, sem invenções
      run: |
        flet build apk --verbose

    - name: Upload do APK Gerado
      uses: actions/upload-artifact@v4
      with:
        name: AppLotofacil
        path: build/app/outputs/flutter-apk/app-release.apk
